.DS_Store
.env
node_modules
dist
coverage
tmp
.idea
.vscode
*.log
*.tsbuildinfo
*.out
backend/bin
frontend/dist
frontend/vite.config.js
frontend/vite.config.d.ts
frontend-public/.lighthouseci/
frontend-public/output/
frontend-public/C:*
/Универсальные SEO требования для разработки сайта (1).docx
/Универсальные SEO требования для разработки сайта (1).docx:Zone.Identifier
backups/
